<div class="container">
	<h1 class="user">Tickets for {{name}}</h1>

	{{#each tickets}}
	<form action="complete/:{{this.ticket_id}}" method="post">
		<div class="type {{this.type}}">{{type}}</div>
		<div class="datetime">Date: <span>{{datetime}}</span></div>
		<div class="description">Description: <span>{{description}}</span></div>
		{{#if nurse}}<button type="submit">Complete</button>{{/if}}
		{{#if doctor}}<button type="submit">Update</button>{{/if}}
	</form>
	{{/each}}
</div>