<div class="container">
    <h1 class="user">Tickets for {{name.name}}</h1>

    {{#if doctor}}
        {{#each tickets}}
            <form action="update/{{ticket_id}}" method="post">
                <div class="type {{type}}">{{type}}</div>
                <div class="datetime">Date: <span>{{datetime}}</span></div>
                <div class="description">Description: <span>{{description}}</span></div>
            
                <button type="submit" class="btn btn-outline-primary btn-sm" >Update</button>
            </form>
        {{/each}}
    {{/if}}

    {{#if nurse}}
        {{#each tickets}}
            <form action="/complete/{{report_id}}" method="post">
                <div class="{{this}}" role="alert">
                    <div class="type {{type}}">{{type}}</div>
                    <div class="datetime">Date: <span>{{datetime}}</span></div>
                    <div class="description">Description: <span>{{description}}</span></div>
                    <button type="submit" class="btn btn-outline-primary btn-sm">Complete</button>
                </div>
            </form>
        {{/each}}
    {{/if}}

</div>